/* style.css */
.ccm-userstory > .userstorys {
	border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
	color: #000;
	min-width: 400px;
	max-width: 400px;
}
.ccm-userstory > .userstorys > .userstory > .points {
	font-weight: bold;
}
.ccm-userstory > .userstorys > .userstory > .id {
	font-weight: bold;
}
.ccm-userstory > .userstorys > .userstory > .text {
	font-style: italic;
}
.ccm-userstory > .userstorys > .userstory {
	color: #000;
}
.ccm-userstory > .userstorys > .userstory > .id:before {
	content: 'ID: ';
}
.ccm-userstory > .userstorys > .userstory > .points:after {
	content: ' SP';
}
.ccm-userstory> .userstorys > .userstory > .points{
}